@media (min-width: 768px) {
  .hero {
    display: flex;
    background-size: 100% 100% !important;
    width: 100%;
    background: url('https://www.comvita.co.nz/_assets/product_images/UK/banners/02849%20UK_Web_Header_1440x398_02_honey.jpg') no-repeat left top;
    font-size: 2em;
    overflow: hidden;
    height: 400px !important;
  }
}

.hero {
  display: flex;
  width: 100%;
  background: url('https://www.comvita.co.nz/_assets/product_images/UK/banners/02849%20UK_Web_Header_1440x398_02_honey.jpg') no-repeat left top;
  background-size: 100% 100% !important;
  font-size: 2em;
  overflow: hidden;
  height: 250px;
}


@media (min-width: 768px) {
  .bannerPadding {
    padding: 3rem !important;
  }
  
}

.bannerPadding {
  padding: 1rem !important;
}

@media (min-width: 768px) {
  .textSlogan {
    color: white;
    text-shadow: 2px 2px 12px #382f2d;
    display: flex;
    margin: auto;
    font-size: 60px !important;
    text-transform: capitalize;
  }
}

.textSlogan {
  color: white;
  text-shadow: 2px 2px 12px #382f2d;
  display: flex;
  margin: auto;
  font-size: 35px;
  text-transform: capitalize;
}

@media (max-width: 768px) {
  .comvita-header-bg {
    height: 398px;
  }
}

.comvita-header-bg {
  height: 250px;
}
