@media (min-width: 768px) {
    .bannerPadding {
        padding: 3rem !important;
    }
}
@media (max-width: 769px) {
    .bannerPadding {
        padding: 1rem !important;
    }
}

@media (min-width: 768px) {
    .titleBanner {
        text-transform: uppercase;
        font-size: 40px;
        font-weight: 600;
        text-align: left;
    }
}
@media (max-width: 769px) {
    .titleBanner {
        text-transform: uppercase;
        font-size: 26px;
        font-weight: 600;
        text-align: center;
    }
}